:root {
  --primary-color: #2757aa;
  --secondary-color: #1C4690;
  --text-color: #fff;
  --hover-bg-color: rgba(255, 255, 255, 0.1);
  --highlight-color: #fff;
}

.dashboard {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  color:var(--primary-color)
}

/* Sidebar */
.sidebar {
  width: auto;
  min-width: max-content;
  background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  transition: width 0.0s;
  overflow: hidden; /* Hide excess content when sidebar is closed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */

}

.sidebar.closed {
  width: 0px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0px 0;
  
}

.sidebar ul li {
  padding: 15px;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions for hover effects */
  display: flex;
  align-items: center; /* Center align the content */
  justify-content: flex-start; /* Align items to the start when sidebar is open */
}

.sidebar ul li i {
  margin-right: 10px; /* Add space between icon and text */
}

.sidebar ul li.closed i {
  margin-right: 0; /* Remove space between icon and text when sidebar is closed */
}

.sidebar ul li:hover {
  background-color: var(--hover-bg-color); /* Lighten background on hover */
}

/* Bump Toggle */
.bump-toggle {
  position: fixed;
  top: 35%;
  width: 23px;
  height: 100px;
  background: #fff;
  color: var(--secondary-color);
  border-radius: 0; /* Removes rounded corners, making the edges sharp */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: left 0.0s ease-in-out;
  z-index: 1100;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.bump-toggle.moved {
  left: 0; /* Keeps it on the edge of the sidebar even when it’s open */
}

.bump-toggle.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Content Section */
.content {
  flex-grow: 1;
  transition: margin-left 0.0s ease-in-out;
  width: 100%;
  background-color: var(--primary-color); /* Keep this as part of content-specific styling */
  color: var(--text-color); /* Keep text color specific to content */
}

.content.full-width {
  margin-left: 0;
}


