/* Adjust the CSS file for responsiveness */
.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left-side {
  background-color: white;
}

.right-side {
  /* background-color: #2a9d8f; */
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.responsive-font {
  font-size: 16px;
}

form {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
  }

  .left-side,
  .right-side {
    width: 50%;
  }
}