
body {
    font-family: 'Segoe UI', sans-serif !important;
    font-size: 13px !important;
}



 


.form-control-black {
  color: black !important;
}


.form-control-black::placeholder {
  color: black !important;

}


textarea.form-control.form-control-black::placeholder {
  color: black !important;

}


textarea::placeholder {
  color: black !important;
  
}

input::placeholder {
  color: black !important;
  
}
